<div>
    <mg-ajax path="/user" id="createUser" options="mgCreate">
        <md-content>
            <md-toolbar class="filter md-theme-green">
                <h2>Crear Usuario</h2>
            </md-toolbar>
            <div class="md-whiteframe-z1">
                    <div layout="horizontal">
                        <div flex>
                            <form>
                                <h2>{{create.model.names}}</h2>
                                <md-text-float label="Nombres" ng-model="create.model.names" class="long"></md-text-float>
                                <div layout="horizontal">
                                    <md-text-float label="Apellidos" ng-model="create.model.surnames"></md-text-float>
                                    <md-text-float label="Correo" ng-model="create.model.email"></md-text-float>
                                </div>
                                <span ng-show="create.cachedModel" style="color: red">Tiene cache</span>
                            </form>
                        </div>
                        <div layout="vertical" layout-align="end">
                            <md-button class="md-theme-green" mg-clear-cache="#createUser" ng-click="create.accept()">Crear</md-button>
                            <md-button class="md-theme-red" mg-save-cache="#createUser" ng-click="create.close()">Cancelar</md-button>
                        </div>
                    </div>
                <br/>
            </div>
        </md-content>
    </mg-ajax>    
</div>